fastapi[standard]
pytest
sqlmodel
pyjwt==2.11.0
pwdlib[argon2]
pydantic
pydantic-settings
requests
opentelemetry-sdk
opentelemetry-api
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-fastapi