name: test

on:
  workflow_call:
    secrets:
      jwt_key:
        required: true
  
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      
      - name: Set up Python  # Uses python version in .python-version file
        uses: actions/setup-python@v6

      - name: setup virtual environment and run tests
        env:
          SECRET_KEY: ${{ secrets.jwt_key }}
        shell: bash
        run: |
          python -m venv .venv
          source .venv/bin/activate
          pip install -r requirements.txt
          pytest
